body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(237, 221, 210);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  background: rgb(132, 119, 150);
  min-height: 100vh;
}

#contextMenuWrapper {
  flex-basis: 200px;
  flex-grow: 1;
  padding-bottom: 10px;
}

#contentWrapper {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

#contextMenu {
  min-height: 100%;
  background: rgb(55, 51, 83);
  text-align: center;
  border-radius: 8px;
  padding-top: 10px;
}

#searchBar {
  padding-top: 5px;
}

#searchBar input {
  width: 300px;
}

h4 {
  margin: 5px;
}

.cardUserImage {
  max-width: 50px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

#userImage {
  max-width: 130px;
  border-radius: 50%;
  border: 2px solid rgb(54, 48, 98);
}

.userInfo {
  display: inline-block;
}

.userInfo p{
  margin: 0px;
}

.userInfo .location {
  padding-top: 10px;
  margin-top: -10px;
  font-size: 80%;
  color: gray;
}

.showcaseCardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: gray 2px solid;
  box-sizing: border-box;
}

.showcaseCardImgWrapper {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
}

.showcaseCard {
  height: 110px;
  border: gray 2px solid;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.showcaseCard.project {
  background-color: rgba(202, 213, 233, 0.652);
}

.showcaseCard.blog {
  background-color: rgba(202, 223, 233, 0.926);
}

.showcaseCard .showcaseCardKind {
  min-width: 59px;
  color: rgb(85, 85, 85);
  text-align: center;
  border: 2px gray solid;
  box-sizing: border-box;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  margin-right: 5px;
  float: right;
}

.showcaseCardUser {
  color: gray;
  font-size: 80%;
}

.showcaseCardName {
  display: inline;
  margin: 0;
}

.showcaseCardFirstLine {
  margin-top: 5px;
}

.showcaseCardDescription {
  margin-top: 3px;
  color: rgb(48, 48, 48);
  max-height: 55px;
  overflow: hidden;
}

.showcaseCardInfoWrapper {
  position: relative;
  height: 110px
}

.showcaseCardSkills {
  color: gray;
  font-size: 80%;
  position: absolute;
  left: 110px;
  bottom: 0px
}

.navBar.left {
  display: inline;
}

.navBar.right {
  float: right;
  width: 190px;
  height: 40px;
  margin-right: 10px;
}

#projectPreviewImgContainer {
  float: right;
}

#projectPreviewImg {
  max-width: 475px;
  max-height: 475px;
  float: right;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
}

#projectInfoContainer {
  max-width: 475px;
  display: inline-block;
  margin: 10px
}

#projectHeader {
  /* border: 3px solid gray; */
  overflow: auto;
  border-radius: 8px;
  margin-top: 10px;
  background: rgb(197, 197, 212);
}

#projectName {
  margin: 0;
}

#projectHostedWrapper {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

#tryItNow {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  font-size: 120%;
  cursor: pointer;
}

#projectSkills {
  color: gray;
  font-size: 80%;
  margin: 0;
}

iframe {
  width: 700px;
  max-width: 700px;
  height: 393.75px;
}

.videoWrapper {
  padding: 10px;
}

#projectLinksWrapper {
  position: relative;
}

#repositoriesWrapper {
  border-radius: 8px;
  padding-bottom: 5px;
  position: absolute;
  top: 10px;
  right: 0;
  width: 260px;
  text-align: center;
}

.repositoryButton {
  width: 200px;
  height: 25px;
  margin: 3px;
  border-radius: 8px;
  cursor: pointer;
}

#menuUser:hover {
  background: rgb(140, 140, 140);
}

#menuUser {
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
}

#userInfo > *{
  font-size: 93%;
  margin: 3px;
  color: rgb(187, 187, 187)
}

#userLinksHeader {
  padding-top: 10px;
  color: lightGray
}

.socialLink {
  margin: 5px 0 0 0;
  border: 2px solid black;
  color: white;
  background: rgb(54, 48, 98);
  border-radius: 8px;
  cursor: pointer;
}

.socialLink:hover{
  background: rgb(140, 140, 140);
}

#menuUserWrapper {
  background-color: rgb(77, 76, 125);
  padding: 10px;
  margin: 0px 10px 0px 10px;
  border-radius: 8px;

}

#userName {
  color: white;
}

#userEmail {
  color: lightBlue;
}

#aboutMeWrapper {
  margin-top: 10px;
  color: lightGray
}

#aboutMe {
  font-size: 90%;
  text-align: left;
  margin-top: 0;
  margin-bottom: -5px;
}

#skillFilter {
  color: lightGray
}

.skill {
  text-align: left;
  border: 1px solid gray;
  margin: 3px 25px;
  padding-left: 3px;
  border-radius: 8px;
  color: white;
  background: rgb(77, 76, 125);
  overflow: hidden;
  cursor: pointer;
}

.skill:hover {
  background: rgb(140, 140, 140);
}

.skill.added {
  background: rgb(140, 140, 140);
}

.skill.added:hover {
  background: rgb(77, 76, 125);
}

#skillsSearchWrapper input {
  border-radius: 4px;
}

#skillFilter button {
  border-radius: 8px;
  width: 50%;
  height: 25px;
  cursor: pointer;
}

input {
  color: rgb(54, 48, 98);
  text-align: center;
}

#editAboutMe{
  width: 155px;
  min-height: 300px;
}

.error {
  color: rgb(255, 150, 150);
}

#tinyProfileImage {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin: 5px;
  float: right;
  border: 1px solid white
}

#navBar {
  background: rgb(77, 76, 125);
  height: 40px;
  border-radius: 8px;
}

#navBar button {
  margin: 10px 0px 0 10px;
  border-radius: 5px;
  width: 130px;
}
 .userCard {
  background: rgba(235, 240, 242, 0.926);
  border-radius: 8px;
  margin-top: 6px;
  width: 800px;
 }

 .menuEditButton {
  margin-top: 4px;
  width: 60px;
  border-radius: 5px;
 }

 .deleteLink {
  float: right;
  margin-right: 7px;
  color: rgb(213, 59, 59);
 }